<section class="about with-image" id="about">
     <div class="about-container">

          <!-- <div class="about-image">
               <img src="assets/aboutUs.png" alt="Afreen Working">
          </div> -->

          <div class="about-text">
               <h2>About Me</h2>
               <h3>MEAN & MERN Stack Developer | 2+ Years Experience</h3>

               <p>
                    I'm Afreen Banu, a full-stack developer passionate about building fast, responsive,
                    and user-centric web applications using Angular, React, Node.js, and MongoDB.
               </p>

               <p>
                    I enjoy solving real-world problems through code and designing experiences that are clean and
                    intuitive.
               </p>

               <!-- Skills -->
               <div class="skills">
                    <span>Angular</span>
                    <span>React</span>
                    <span>Node.js</span>
                    <span>MongoDB</span>
                    <span>Express</span>
                    <span>TypeScript</span>
                    <span>JavaScript</span>
                    <span>REST APIs</span>
               </div>


               <div class="education-mini">
                    <h4>Education</h4>
                    <p>
                         🎓 BCA (Final Semester) – Manipal University Jaipur <br>
                         🎓 Diploma in Electronics – 2021
                    </p>
               </div>

          </div>
     </div>
</section>