<!-- <nav class="navbar">
     <div class="logo">Afreen Banu</div>
     <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li> <a routerLink="/resume">Resume</a></li>
          <li><a href="/contact">Contact</a></li>
     </ul>
</nav> -->

<!-- <nav class="navbar">
     <div class="logo"> <a href="#">Afreen Banu</a></div>
     <ul class="nav-links">

          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li> <a routerLink="#resume">Resume</a></li>
          <li><a href="#contact">Contact</a></li>
     </ul>
</nav> -->





<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow">
     <div class="container-fluid">
          <a class="navbar-brand fw-bold" href="#"><img class="logo" src='assets/afreenBanu.png' alt=""></a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
               data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
               aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
               <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                         <a class="nav-link" [class.active]="activeSection === 'about'" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" [class.active]="activeSection === 'projects'" href="#projects">Projects</a>
                    </li>

                    <li class="nav-item">
                         <a class="nav-link" [class.active]="activeSection === 'contact'" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link btn" [class.active]="activeSection === 'resume'"
                              href="assets/afreenbanu_Resume.pdf">Resume
                              <span>&darr;</span></a>
                    </li>

               </ul>
          </div>
     </div>
</nav>