<!-- <section class="hero">
     <div class="hero-left">
          <h1>Hi, I'm Afreen Banu 👋</h1>
          <h2><span class="highlight">MEAN</span> / <span class="highlight">MERN</span> Stack Developer</h2>
          <p>I craft beautiful, functional, and responsive web apps using Angular, Node.js, and MongoDB.</p>
          <div class="buttons">
               <a routerLink="/projects" class="btn-primary">Projects</a>
               <a routerLink="/contact" class="btn-secondary">Contact</a>
          </div>
     </div>
     <div class="hero-right">
          <img src="/assets/profile-image.png" alt="Afreen Banu Illustration" />
     </div>
</section> -->

<section class="hero" id="home">
     <div class="hero-content">
          <div class="text-area">
               <h1>Hi, I'm <span>Afreen Banu</span></h1>
               <h2>MEAN & MERN Stack Developer</h2>
               <p>I build scalable web apps with clean UI and efficient backend architecture.</p>
               <a href="#projects" class="btn">View Projects</a>

          </div>

          <div class="image-area">
               <img src="/assets/profile-image.png" alt="Afreen Banu Profile Picture">
          </div>
     </div>
</section>