<section class="experience" id="experience">
     <h2 class="section-title">Experience</h2>
     <div class="about-image">
          <img src="assets/aboutUs.png" alt="Afreen Working">
     </div>


     <div class="exp-container">

          <!-- Techwalo -->
          <div class="exp-card">
               <h3>Interactive Experience Developer (Contract)</h3>
               <span class="company">Techwalo.com</span>
               <span class="date">Feb 2024 – Present</span>

               <p>
                    Designed and developed interactive digital interfaces for large-scale
                    tech events and public campaigns. Built engaging user experiences,
                    touch-based applications and live event systems for clients including
                    HCL, Cognizant and Swachh Bharat initiatives.
               </p>

               <!-- <ul>
                    <li>Developed real-time event interaction applications</li>
                    <li>Created engaging touch-screen and kiosk interfaces</li>
                    <li>Deployed systems used by thousands of event participants</li>
               </ul> -->
          </div>


          <!-- JTech -->
          <div class="exp-card">
               <h3>Junior Full Stack Developer</h3>
               <span class="company">JTech Appz</span>
               <span class="date">2022 – 2024</span>

               <p>
                    Worked on MEAN stack applications, implemented features,
                    fixed bugs, improved UI/UX and collaborated with the team to
                    deliver production-ready client projects.
               </p>
          </div>

     </div>
</section>